
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,200;0,400;0,700;1,500&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: outfit;
}

/* Make the dots white */
.slick-dots li button:before {
  color: white;       /* changes inactive dot color */
  opacity: 1;         /* ensure visibility */
}

.slick-dots li.slick-active button:before {
  color: white;       /* active dot color */
}
